@import "tailwindcss";

* {
    min-widith: 0;
}

@theme {
    --color-gray: #F8F9FA; 
    --color-strong: #ECEEF1;
    --color-black: #232022;
    --color-red: #DC3545;

    --color-instagram: #D6249F;
    --color-whatsapp: #65A30D; 

    --font-sans: var(--font-barlow);
    --font-heading: var(--font-poppins);
}